.DS_Store
.temp/
.vscode

node_modules
.env
.docker
.protostar_cache
coverage
coverage.json
typechain
*.account
build/
dist/
target/
*.log

#Hardhat files
cache
artifacts
venv

starknet-artifacts
old_test
