[package]
name = "starkDefi"
version = "1.1.0"

[[target.starknet-contract]]
allowed-libfuncs-list.name = "experimental"
sierra = true
casm = true

[dependencies]
starknet = ">=2.1.1"
# snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.4.1" }

[tool.snforge]
exit_first = true

[scripts]
devnet = "docker-compose up -d"

[tool.sncast.testnet]
name="testnet"
account = "./accounts/testnet_deployer.json"
keystore = "./accounts/testnet_deployer_key.json"
url = "https://starknet-goerli.infura.io/v3/${INFURA_PROJECT_ID}"

[tool.sncast.mainnet]
account = "mainnet"
accounts-file = "./accounts/mainnet_deployer.json"
url = "https://starknet-mainnet.infura.io/v3/${INFURA_PROJECT_ID}"
